fastapi
uvicorn[standard]
httpx
python-dotenv
motor
pydantic
jmespath
pyjwt
email-validator
websockets
pywebpush
loguru
pymongo
python-multipart
sentence-transformers
faiss-cpu
ratelimit
pytz
docx2txt
PyMuPDF
requests
html2image
aiofiles
jinja2
cryptography
anyio
certifi
h11
httpcore
httpx
idna
sniffio
